/**
  |============================
  | reset start
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.list {
  list-style: none;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
  transition: color var(--trns-fast);
}
.contacts-header {
  font-style: normal;
}
button {
  font-family: inherit;
  color: currentColor;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input {
  font-family: inherit;
}
/*  приклад видалення лишнього маржіна
    .list-item:not(:last-child) {
    margin-bottom: XXXpx;
} */
/**
  |============================
  |  reset end 
  |============================
*/

:root {
  scroll-behavior: smooth;
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* Colors */
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --light: #f4f4fd;
  --dark: #2e2f42;
  --text: #434455;
  --accent: #e7e9fc;
  --subtle-text: #8e8f99;
  /* Background colors */
  --white-background: #ffffff;
  --modal-bg: #fcfcfc;
  --success: #31d0aa;
  /* Other */
  --indent-col: 8px;
  --indent-row: 48px;
  --item: 4;
  --index-modal: 1000;
  --trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trns-slow: 900ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font);
  color: var(--text);
  background-color: var(--white-background);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link:hover,
.link:focus,
.link:active {
  color: var(--pressed-state);
}
/* Phone screen */
.container {
  min-width: 320px;
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}
/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section {
  padding: 48px 0;
}
@media only screen and (min-width: 1168px) {
  .section {
    padding: 60px 0;
  }
}

/**
  |============================
  | HEADER
  |============================
*/
.header {
  display: block;
  max-width: 100%;
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header-mob {
    padding: 24px 0;
  }
}
.logo.link {
  color: var(--primary-brand);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-header {
  display: inline-block;
  margin-right: 249px;
}
@media only screen and (min-width: 768px) {
  .logo-header {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .nav-list {
    margin-right: 332px;
  }
}

.nav .studio {
  color: var(--dark);
}
.nav-links {
  display: inline-block;
  color: var(--dark);
  font-weight: 500;
  padding: 24px 0;
  position: relative;
  transition: color var(--trns-fast);
}
.nav-links.current {
  color: var(--pressed-state);
}
.nav-links.current:hover,
.nav-links.current:focus {
  color: var(--pressed-state);
}
.nav-links.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
}
.nav-links.current::after,
.nav-links:active::after {
  background-color: var(--pressed-state);
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 1157px) {
  .contacts-list {
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 12px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
.contacts-links {
  color: var(--text);
  transition: color var(--trns-fast);
}
@media only screen and (max-width: 767px) {
  .contacts-header {
    display: none;
  }
}
.header-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  stroke: var(--dark);
}
@media only screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
}

/**
  |============================
  | INDEX SECTION 1
  |============================
*/
.hero-section {
  padding: 112px 54px;
  max-width: 428px;
  margin: 0 auto;
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-back-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-back-mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 136px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-back-tab@1x.jpg);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-back-tab@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-back-desk@1x.jpg);
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-back-desk@2x.jpg);
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title {
  color: var(--white-background);
  width: 320px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .main-title {
    width: 496px;
    line-height: 1.07;
    font-size: 56px;
    text-transform: none;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
}
.hero-btn {
  background-color: var(--primary-brand);
  color: var(--white-background);
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-width: 0;
  padding: 16px 32px;
  min-width: 169px;
  border: none;
  transition: background-color var(--trns-fast);
}
.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: var(--pressed-state);
}

/**
  |============================
  | INDEX SECTION 2
  |============================
*/
.features-section {
  padding-top: 96px;
}
@media only screen and (min-width: 1158px) {
  .features-section {
    padding-top: 120px;
  }
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .features-list {
    column-gap: 24px;
  }
}
.feature-item {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .feature-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
.feature-box {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light);
    margin-bottom: 8px;
  }
}
.feature-name {
  text-align: center;
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .feature-name {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-name {
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
}
.feature-text {
  font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
  }
}
/**
  |============================
  | INDEX SECTION 3
  |============================
*/
.what-section {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .what-section {
    display: block;
    padding-bottom: 120px;
  }
}
.what-title {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}
.what-list {
  row-gap: var(--indent-row);
  justify-content: space-between;
  align-items: first baseline;
  --items: 3;
  --indent-col: 24px;
  gap: 24px;
}
.what-list-item {
  flex-basis: calc((100% - var(--indent-col) * var(--item) - 1) / var(--item));
}

/**
  |============================
  | INDEX SECTION 4
  |============================
*/
.team-cards-section {
  background-color: var(--light);
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .team-cards-section {
    padding: 120px 0;
  }
}
.team-cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-cards-list {
    row-gap: 64px;
    column-gap: var(--indent-col);
    --items: 2;
    --indent-col: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-cards-list {
    --items: 4;
  }
}
.team-list-item {
  flex-basis: calc((100% - var(--indent-col) * var(--item) - 1) / var(--item));
  background-color: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.card-name {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.team-cards-content {
  padding: 32px 0;
}
.card-text {
  color: var(--text);
  text-align: center;
  margin-bottom: 8px;
}
.team-cards-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.team-cards-soc-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.team-cards-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color var(--trns-fast);
}
.team-cards-soc-icon {
  fill: var(--light);
}
.team-cards-soc-link:hover,
.team-cards-soc-link:focus {
  background-color: var(--pressed-state);
}

/**
  |============================
  | INDEX SECTION 5
  |============================
*/
.customers-section {
  padding: 120px 0;
}
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: var(--indent-col);
  --items: 2;
  --indent-col: 16px;
}
@media only screen and (min-width: 768px) {
  .customers-list {
    row-gap: 64px;
    column-gap: var(--indent-col);
    --items: 3;
    --indent-col: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .customers-list {
    column-gap: var(--indent-col);
    --items: 4;
    --indent-col: 24px;
  }
}
.customers-item {
  width: calc((100% - var(--indent-col) * var(--item) - 1) / var(--item));
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  padding: 16px 32px;
  color: var(--subtle-text);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--trns-fast), border-color var(--trns-fast);
}
@media only screen and (min-width: 428px) {
  .customers-link {
    width: 190px;
  }
}
@media only screen and (min-width: 768px) {
  .customers-link {
    width: 168px;
  }
}
.customers-icon {
  fill: currentColor;
  width: 100%;
  height: 100%;
}
.customers-link:hover {
  color: var(--pressed-state);
  border-color: var(--pressed-state);
}
.customers-link:focus {
  color: var(--pressed-state);
  border-color: var(--pressed-state);
}

/**
  |============================
  | FOOTER
  |============================
*/
.footer {
  background-color: var(--dark);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
    width: 584px;
    justify-content: flex-start;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    width: 1158px;
    gap: 0;
  }
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 264px;
}
@media only screen and (min-width: 768px) {
  .footer-logo-container {
    margin-right: 120px;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}
.footer-logo {
  margin-bottom: 17.5px;
}
.footer .studio {
  color: var(--light);
}
.footer-text {
  width: 264px;
  color: var(--light);
}
.soc-media-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1158px) {
  .soc-media-container {
    margin-right: 80px;
  }
}
.soc-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.soc-media-text {
  font-weight: 500;
  color: var(--white-background);
  margin-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  .soc-media-text {
    text-align: center;
  }
}
.soc-media-item {
  width: 40px;
  height: 40px;
}
.soc-media-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color var(--trns-fast);
}
.soc-media-icon {
  fill: var(--light);
}
.soc-media-link:hover,
.soc-media-link:focus {
  background-color: var(--success);
}

.footer-subscribe {
  text-align: center;
  display: block;
  font-weight: 500;
  color: var(--white-background);
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-subscribe {
    text-align: left;
  }
}
.footer-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form {
    gap: 24px;
  }
}
.footer-email {
  width: 320px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px var(--white-background) solid;
  background-color: transparent;
}
@media only screen and (min-width: 428px) and (max-width: 767px) {
  .footer-email {
    width: 398px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-email {
    width: 264px;
  }
}
.footer-email::placeholder {
  color: var(--white-background);
}
.hero-btn.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
}
.subscribe-icon {
  display: block;
  margin-left: 16px;
}

/**
  |============================
  | MODAL WINDOW
  |============================
*/
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transform: translateY(0);
  transition: opacity var(--trns-fast), visibility var(--trns-fast);
}
.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  min-height: 584px;
  background-color: var(--modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform var(--trns-fast);
}

@media only screen and (min-width: 428px) {
  .modal {
    width: 392px;
  }
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%) scale(0.5);
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color var(--trns-fast), border var(--trns-fast);
}
.btn-close-icon {
  transition: fill var(--trns-fast);
}
.btn-close:hover,
.btn-close:focus {
  background-color: var(--pressed-state);
  border: none;
}
.btn-close:hover .btn-close-icon,
.btn-close:focus .btn-close-icon {
  fill: var(--white-background);
}
.form-title {
  font-weight: 500;
  color: var(--dark);
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.input-name-wrap {
  position: relative;
  margin-bottom: 8px;
}
.input-comment-wrap {
  margin-bottom: 16px;
}
.input-label {
  display: block;
  margin-bottom: 4px;
  color: var(--subtle-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.input-name-box {
  position: relative;
}
.input-name {
  font-size: 18px;
  color: var(--dark);
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--trns-fast);
}
.input-name-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--dark);
  transition: fill var(--trns-fast);
}
.input-comment {
  display: block;
  padding: 8px 16px;
  width: 100%;
  max-width: 360px;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--trns-fast);
}
.input-comment::placeholder {
  color: #2e2f4266;
}
.input-name:focus-within {
  border-color: var(--primary-brand);
}
.input-name:focus-within + .input-name-icon {
  fill: var(--primary-brand);
}

.input-comment:focus-within {
  border-color: var(--primary-brand);
}
.form-label-checkbox {
  color: var(--subtle-text);
  display: block;
}
.form-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #2e2f4266;
  fill: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: background-color var(--trns-fast), border var(--trns-fast),
    fill var(--trns-fast);
}
.form-svg {
  fill: transparent;
}
.form-link {
  color: var(--primary-brand);
  text-decoration: underline;
  margin-left: 1px;
}
.form-checkbox {
  margin-bottom: 24px;
}
.form-checkbox:checked + .form-label-checkbox > .form-span {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

/**
  |============================
  | PORTFOLIO
  |============================
*/
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.filters-btn {
  color: var(--primary-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--light);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent);
  transition: color var(--trns-fast), background-color var(--trns-fast),
    border-color var(--trns-fast), box-shadow var(--trns-fast);
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.project-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
  justify-content: space-between;
  --items: 3;
  --indent-col: 24px;
}
.project-cards-item {
  flex-basis: calc((100% - var(--indent-col) * var(--item) - 1) / var(--item));
}
.project-card-content {
  border: 1px solid var(--accent);
  border-top: none;
  padding: 32px 16px;
}
.project-card-name {
  text-align: left;
}
.project-card-text {
  text-align: left;
}
.project-card-img {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  color: var(--light);
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: var(--primary-brand);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--trns-fast);
}
.card-link {
  display: block;
  transition: box-shadow var(--trns-fast);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-link:hover .overlay-text,
.card-link:focus .overlay-text {
  transform: translateY(0%);
}

/**
  |============================
  | MENU MOBILE
  |============================
*/
.btn-close.menu-toggle {
  background-color: rgba(231, 233, 252, 0.1);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 35px 40px 40px;
  background-color: var(--white-background);
  transform: translateX(100%);
  transition: transform var(--trns-fast);
}
.menu-container.is-open {
  transform: translateX(0);
}
@media only screen and not (hover: hover) {
  .menu-toggle: active;
}
.mob-menu {
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mob-menu-link {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}
.mob-menu-link.current {
  color: var(--pressed-state);
}
.mob-contacts {
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.mob-contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mob-contacts-link.accent {
  color: var(--primary-brand);
}
@media only screen and (min-width: 428px) {
  .mob-contacts-link.accent {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
  }
}
.mob-soc-list {
  justify-content: flex-start;
}
@media only screen and (max-width: 427px) {
  .mob-soc-list {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 428px) {
  .mob-soc-list {
    gap: 56px;
  }
}
